@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-clr:#ffffff;
    --primaryOne-clr:#ffffff;
    --primaryTwo-clr:#363738;
    --secondaryOne-clr:#fefaf1;
    --secondaryTwo-clr:#f5f5f5;
    --secondaryThree-clr:#db4444;
    --secondaryFour-clr:#47b486;
    --textOne-clr:#fafafa;
    --textTwo-clr:#7D8184;
    --hoverBtnOne-clr:#E07575;
    --hoverBtnTwo-clr:#A0BCE0;
    --border-clr:#00000066;
    --poppins:"Poppins", sans-serif;
    --inter: "Inter", sans-serif;
}
body{    
    background-color: var(--bg-clr);
}
body::-webkit-scrollbar,
.srcrollbar-v::-webkit-scrollbar {
    width: .2em;
}
.srcrollbar-h::-webkit-scrollbar{
    height: .1rem;
}
.scrollbar-track::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
.scrollbar-thumb::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--border-clr);
}
.container{
    padding-inline: .75rem;
}
@media (max-width:1023px) {
    header .container nav ul{
        display: none;
        position: absolute;
        right: 12px;
        top: 60px;
        z-index: 9;
        max-width: 240px;
        width: 100%;
        padding:10px 24px;
        border-radius: 16px;
        transition: all 700ms ease;
        color: var(--textOne-clr);
        background-color: var(--primaryTwo-clr);
    }
    header .container nav ul.menu{
        display: block;
    }
    header .container nav ul li a{
        display: block;
        margin-block: 12px;
        text-align: center;
    }
}
@media (max-width:1023px) {
    header .container nav .search-box{
        display: none;
        justify-content: space-between;
        position: absolute;
        right: 80px;
        top: 60px;
        z-index: 8;
        max-width: clamp(238px,70vw,340px);
        width: 100%;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .1);
    }
    header .container nav .search-box.active{
        display: flex;
    }
}
@media (min-width:1024px) {
    header .container nav ul{
        display: flex;
        align-items: center;
        gap: 25px;
    } 
}
@media (min-width:1024px) {
    header .container nav ul li a:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: var(--border-clr);
        transition: all 700ms ease;
    }
    header .container nav ul li>a.active::after,
    header .container nav ul li>a:hover::after{
        width: 100%;
    }
}
.hero .container .slider ul li.active{
    border: 3px solid var(--primaryOne-clr);
    background-color: var(--secondaryThree-clr) ;
}